# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Log Aggregation Blueprint"

# Security
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=log_agg_blueprint_bot

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# OpenSearch / Elasticsearch
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
